* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Public Sans';
    /* border: 2px solid black; */
    background-color: rgb(226, 225, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.active {
    width: 100%;
    color: black;
    background-color: rgba(47, 255, 165, 0.494);
    border: 2px solid rgba(47, 255, 165, 0.515);
    border-radius: 20px;
    padding: 5px 10px;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.sidebar,
.sideBtn {
    display: none;
}

.sideBar {
    display: none;
}

.logo2 {
    display: none;
}

nav {
    width: 100%;
    height: 15%;
    /* border: 2px solid red; */
    background-color: rgb(233, 232, 232);
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 100;
    /* background-color: red; */
}

.sideBar1 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    /* background-color: red; */
}

ul {
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* background-color: red; */
}

.navBtn {
    width: 100%;
    height: 40px;
    border: 2px solid black;
    color: white;
    border-radius: 70px;
    background: linear-gradient(to right, rgb(48, 227, 197), rgb(13, 221, 110));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.navright button {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
        justify-content: center; */
    gap: 20px;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px 20px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec1 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}

.sec1-content {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.next {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.invite {
    width: 60%;
    height: 100%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 20px;
}

.invite button {
    width: 40%;
    height: 40px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
        justify-content: center; */
    gap: 20px;
}

.phone-shape {
    width: 40%;
    /* height: 100%; */
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    position: relative;
    margin: -40px;
}

.phone {
    position: absolute;
    /* background-color: blue; */
}

.sec2 {
    width: 80%;
    height: 100%;
    padding-bottom: 20px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sec2-head {
    width: 100%;
    height: 100%;
    text-align: justify;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec2-icons {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}

.sec3 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.content {
    width: 80%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.content img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.cont-receive {
    width: 45%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cont-receive h2 {
    padding: 10px;
}

.receive-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.receive-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.receive {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cont-treat {
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.treat-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.treat-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.treat {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.cont-card {
    width: 50%;
    height: 100%;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.card-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.card-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.card {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.cont-beta {
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.beta-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.beta-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.beta {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

footer {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

section {
    width: 90%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.footsec1 {
    width: 70%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 60px; */
}

.foot1 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.foot1-logo {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.socials {
    width: 10%;
    height: 10%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.foot2 {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.foot2 ul {
    list-style: none;
    text-decoration: none;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.foot2 ul a {
    color: white;
}

.foot3 {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.foot3 ul a {
    color: white;
}

.menu2 {
    width: 100%;
    height: 100%;
}

.menu2 ul {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footsec2 {
    width: 30%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footsec2 button {
    width: 70%;
    height: 50px;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        font-family: 'Public Sans';
    }

    .active {
        width: 25%;
        height: 30px;
        color: black;
        background-color: grey;
        color: white;
        border: none;
    }

    a {
        list-style: none;
        text-decoration: none;
        color: black;
    }

    nav {
        height: auto;
        display: flex;
        padding: 0;
    }

    .sideBar1 {
        width: 100%;
        height: 60px;
        background-color: green;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        z-index: 90;
    }

    .logo1 {
        display: none;
    }

    .sidebar {
        width: 50%;
        height: 100vh;
        background-color: rgb(233, 232, 232);
        /* padding: 20px; */
        box-shadow: -10px 0px 10px grey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
    }

    .sidebar ul {
        width: 100%;
        height: 100vh;
        background-color: rgb(233, 232, 232);
        padding: 10px;
        box-shadow: -10px 0px 10px grey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sideBtn {
        display: flex;
    }

    .show {
        right: 0;
    }

    .sidebar li {
        width: 100%;
    }

    .logo2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }

    .navBtn {
        display: none;
    }

    .navright {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .webnav {
        display: none;
    }

    ul {
        list-style: none;
        text-decoration: none;
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* background-color: red; */
    }

    button {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        color: white;
        border-radius: 70px;
        background: linear-gradient(to right, rgb(48, 227, 197), rgb(13, 221, 110));
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .sec1 {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: bisque; */
    }

    .sec1-content {
        display: none;
    }

    .sec1-cont {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .next {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .invite {
        width: 100%;
        height: 100%;
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .invite button {
        width: 40%;
        height: 40px;
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .phone-shape {
        width: 50%;
        /* height: 100%; */
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 200px;
        margin: -225px;
    }

    .phone {
        height: 70%;
        /* position: absolute; */
        /* background-color: blue; */
    }

    .shape {
        height: 40%;
        /* position: absolute;
        top: 10; */

        /* background-color: blue; */
    }

    .sec2 {
        padding-bottom: 20px;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .sec2-head {
        width: 100%;
        height: 100%;
        text-align: center;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sec2-icons {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .icon1 {
        width: 100%;
        height: 100%;
        text-align: center;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 30px; */
    }

    .icon2 {
        width: 100%;
        height: 100%;
        text-align: center;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 30px; */
    }

    .icon3 {
        width: 100%;
        height: 100%;
        text-align: center;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 30px; */
    }

    .icon4 {
        width: 100%;
        height: 100%;
        text-align: center;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 30px; */
    }

    .sec3 {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .content {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .cont-receive {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        border-radius: 6%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .cont-receive h2 {
        padding: 10px;
    }

    .receive-img {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .receive-img p {
        padding-left: 20px;
    }

    .receive-img img {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        border-radius: 6%;
    }

    .receive {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        text-align: justify;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .cont-treat {
        width: 100%;
        height: 100%;
        border-radius: 6%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .treat-img {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .treat-img p {
        padding-left: 20px;
    }

    .treat-img img {
        width: 100%;
        height: 100%;
        border-radius: 6%;
    }

    .treat {
        width: 100%;
        height: 100%;
        text-align: justify;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .cont-card {
        width: 100%;
        height: 100%;
        border-radius: 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .card-img {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .card-img p {
        padding-left: 20px;
    }

    .card-img img {
        width: 100%;
        height: 100%;
        border-radius: 6%;
    }

    .card {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        text-align: justify;
        padding: 20px;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        gap: 15px;
    }

    .cont-beta {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        border-radius: 6%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .beta-img {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .beta-img p {
        padding-left: 20px;
    }

    .beta-img img {
        width: 100%;
        height: 100%;
        border-radius: 6%;
    }

    .beta {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        text-align: justify;
        padding: 20px;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        gap: 15px;
    }

    footer {
        width: 100%;
        height: 100%;
        padding: 25px 0px;
        /* border: 2px solid black; */
        background-color: rgb(31, 26, 73);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 200px;
    }

    section {
        width: 90%;
        height: 100%;
        /* border: 2px solid black; */
        background-color: rgb(31, 26, 73);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .footsec1 {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        background-color: rgb(31, 26, 73);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .foot1 {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .foot1-logo {
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .socials {
        width: 10%;
        height: 10%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .foot2 {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .foot2 ul {
        list-style: none;
        text-decoration: none;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .foot2 ul a {
        color: white;
    }

    .foot3 {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
    }

    .foot3 ul a {
        color: white;
    }

    .menu2 {
        width: 100%;
        height: 100%;
    }

    .menu2 ul {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footsec2 {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        background-color: rgb(31, 26, 73);
        color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footsec2 button {
        width: 35%;
        height: 50px;
    }
}