* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 80%;
    min-height: 100vh;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: rgb(226, 225, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.active {
    color: white;
    background-color: rgb(5, 5, 123);
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

nav {
    width: 100%;
    height: 15%;
    /* border: 2px solid red; */
    background-color: rgb(233, 232, 232);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 100;
    /* background-color: red; */
}

nav div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

ul {
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: red; */
}

button {
    width: 20%;
    height: 40px;
    border: 2px solid black;
    color: white;
    border-radius: 70px;
    background: linear-gradient(to right, rgb(48, 227, 197), rgb(13, 221, 110));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec1 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}

.sec1-content {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.next {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.invite {
    width: 60%;
    height: 100%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 20px;
}

.phone-shape {
    width: 40%;
    /* height: 100%; */
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    position: relative;
    margin: -40px;
}

.phone {
    position: absolute;
    /* background-color: blue; */
}

.sec2 {
    width: 80%;
    height: 100%;
    padding-bottom: 20px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sec2-head {
    width: 100%;
    height: 100%;
    text-align: justify;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec2-icons {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}

.sec3 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(241, 241, 241);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.content {
    width: 80%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.content img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.cont-receive {
    width: 45%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.receive-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.receive-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.receive {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cont-treat {
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.treat-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.treat-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.treat {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.cont-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
}

.card-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.card-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.card {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.cont-beta {
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.beta-img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.beta-img img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 6%;
}

.beta {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

footer {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

section {
    width: 90%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.footsec1 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 60px; */
}

.foot1 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.foot1-logo {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.socials {
    width: 10%;
    height: 10%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.foot2 {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.foot2 ul {
    list-style: none;
    text-decoration: none;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.foot2 ul a {
    color: white;
}

.foot3 {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.foot3 ul a {
    color: white;
}

.menu2 {
    width: 100%;
    height: 100%;
}

.menu2 ul {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footsec2 {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: rgb(31, 26, 73);
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    .active {
        color: white;
        background-color: rgb(5, 5, 123);
    }

    a {
        list-style: none;
        text-decoration: none;
        color: black;
    }

    nav {
        width: 100%;
        height: 10%;
        background-color: rgb(233, 232, 232);
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        z-index: 100;
    }

    .sidebar {
        width: 20%;
        height: 100vh;
        background-color: rgba(233, 232, 232, 0.268);
        /* padding: 20px; */
        box-shadow: -10px 0px 10px black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        /* background-color: red; */
    }

    .sidebar li {
        width: 100%;
    }

    .sidebar a {
        width: 100%;
    }

    nav div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
        /* background-color: red; */
    }

    ul {
        list-style: none;
        text-decoration: none;
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* background-color: red; */
    }

    button {
        width: 40%;
        height: 40px;
        border: 2px solid black;
        color: white;
        border-radius: 70px;
        background: linear-gradient(to right, rgb(48, 227, 197), rgb(13, 221, 110));
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .sec1 {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: bisque; */
    }

    .sec1-content {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .next {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .invite {
        width: 60%;
        height: 100%;
        border-radius: 70px;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        gap: 20px;
    }

    .phone-shape {
        width: 40%;
        /* height: 100%; */
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: relative;
        bottom: 0px; */
        /* margin: 40px; */
    }

    .phone {
        height: 50%;
        /* position: absolute; */
        /* background-color: blue; */
    }

    .shape {
        height: 50%;
        /* position: absolute;
        top: 10; */

        /* background-color: blue; */
    }

    .sec3 {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        background-color: rgb(241, 241, 241);
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .sec2 {
        width: 80%;
        height: 100%;
        padding-bottom: 20px;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}