* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: auto;
    box-sizing: border-box;
}

body p {
    color: grey;
    font-family: 'Trebuchet MS';
}


.frame, .main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.history {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-image: url("/Users/stessy/Desktop/CAASITECH/Clipboard-landing/assets/clipboard-landing-page-master/images/bg-header-desktop.png");
    width: 100%;
}

.history-sub {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.history-text {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history-text h2 {
    font-size: 28px;
    font-family: 'Trebuchet MS';
}

.history-text p {
    font-size: 14px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-style: oblique;
    color: grey;
}

.logo {
    width: 90px;
    height: 90px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.button-1 {
    width: 155px;
    height: 35px;
    border-radius: 20px;
    background: rgb(26, 183, 167);
    color: white;
    font-weight: bolder;
}

.button-2 {
    width: 155px;
    height: 35px;
    border-radius: 20px;
    background: rgb(80, 63, 238);
    color: white;
    font-weight: bolder;
}

.track {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.track-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.track-texts {
    font-size: 15px;
    text-align: justify;
    /* padding-right: 20px; */
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.track-texts h4 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-top: 10px;
}

.track-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.track-img {
    display: flex;
}

.access {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.access-texts {
    font-family: Roboto, 'Helvetica Neue';
    text-align: center;
}

.access-img {
    width: fit-content;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.supercharge {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.header h2 {
    font-family: 'Helvetica Neue', Roboto;
    font-size: 25px;
}

.header p {
    font-family: Roboto;
    font-size: 15px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.blacklist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.blacklist-icon {
    width: 60px;
    height: 60px;
}

.snippets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.snippets-icon {
    width: 60px;
    height: 60px;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.preview-icon {
    width: 60px;
    height: 60px;
}

.icons-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icons-text h3 {
    font-family: 'Helvetica Neue';
}

.icons-text p {
    font-family: 'Trebuchet MS';
    font-size: 14px;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.Google {
    width: fit-content;
    height: 90px;
}

.IBM {
    width: fit-content;
    height: 90px;
}

.Microsoft {
    width: fit-content;
    height: 90px;
}

.HP {
    width: fit-content;
    height: 90px;
}

.Vector-Graphics {
    width: fit-content;
    height: 90px;
}

.clipboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.clip-header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    background-color: rgba(199, 198, 198, 0.094);
}

.logo-footer {
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 100%;
    background: red;
}

.shortcuts {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 13px;
    font-weight: bolder;
}

.menu-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.menu-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.menu-3 {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.facebook {
    width: fit-content;
}

.twitter {
    width: fit-content;
}

.instagram {
    width: fit-content;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    .frame {
        width: 100%;
    }

    .partners {
        display: flex;
        flex-direction: column;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }

    .track-sub {
        display: flex;
        flex-direction: column;
    }

    footer {
        width: fit-content;
        display: grid;
        grid-area: auto;
    }
    .access-img {
        width: 100%;
    }
    .access-img img {
        width: 100%;
        height: auto;
    }
    .track-img {
        width: 100%;
    }
    .track-img img {
        width: 100%;
        height: auto;
    } 
    .main {
        width: 90%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    } 
    section {
        width: 100%;
    } 
    .frame {
        align-items: center;
        justify-content: center;
    } 
}

@media screen and (min-width: 768px) {
    body {
        width: 60%;
    }

    .frame {
        width: 60%;
    }
     
    .access-img img {
        width: 600px;
        height: auto;
    }
}

@media screen and (min-width: 1025px) {
    body {
        width: 100%;
    }

    .frame {
        width: 100%;
        height: auto;
    }
    
}