* {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35%;
}

body {
    width: 60%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* border: 2px solid black; */
}

.title {
    color: blueviolet;
}

.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.inputs {
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inputs input {
    width: 100%;
}

.buttons {
    width: 400px;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons .add {
    width: 100%;
    color: white;
    background-color: rgb(121, 196, 7);

}

.buttons .subtract {
    width: 100%;
    color: white;
    background-color: blue;

}

.buttons .multiply {
    width: 100%;
    color: white;
    background-color: rgb(237, 154, 0);

}

.buttons .divide {
    width: 100%;
    color: white;
    background-color: red;

}